body {
    background-color: lightyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

.homepage-head {
    text-align: center;
}

.homepage-links {
    font-size: 24px;
}

img {
    height: auto;
    width: 400px;
}

p {
    font-size: 30px;
}

li {
    color: hsl(0, 96%, 56%);
}